.navBar {
  display: flex;
  flex-direction: row;
  background-color: rgb(211, 211, 211);
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: rgb(175, 175, 175);
  align-items: center;
  min-height: 40px;
  padding-left: 25px;
  font-size: large;
}

img{
  max-width: 200px;
}
h2{

  font-size: 50px;
  font-weight: 600;
  background-image: linear-gradient(to left,rgb(4, 172, 82), #165d43);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;

}
.cart-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 30px;
}

.cart-num {
  background-color: grey;
  color: white;
  border-radius: 5px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 5px;
}

.all-products {
  display: flex;
  margin: 20px;
}
.card-title{
  font-size: 30px;
  font-weight: 600;
  background-image: linear-gradient(to left,rgb(4, 172, 82), #165d43);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  text-align: center;
}

.card-text{
  text-align: justify;
  font-size: 15px;
  background-clip: text;
  font-weight: 600;
  -webkit-background-clip: text;

}

.card {
  border-style: solid;
  border-width: 2px;
  border-color: rgb(211, 211, 211);
  border-radius: 10px;
  max-width: 200px;
}

.card-img-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-body {
  margin: 10px;
 
}

.btn {
  background-color: rgb(4, 131, 63);
  color: white;
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 7px;
  padding-right: 7px;
  margin: 2px;
  border-radius: 3px;
  border-width: 0px;
 
}

.btn-hover{
  background-color: rgb(65, 146, 103);
}

a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  cursor: pointer;
}

.cart-container {
  margin: 20px;
}

.card-cart {
  display: flex;
  flex-direction: row;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(211, 211, 211);
  border-radius: 10px;
  max-width: 500px;
}

.card-img-left {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
